<form action="{{ path('admin.page.active', {'id': row.id}) }}" method="post" name="page-update">
    <label class="c-switch c-switch-label c-switch-pill c-switch-primary mb-0">
        <input class="c-switch-input toggle-active" type="checkbox" {% if value %}checked=""{% endif %} name="active"
               onchange="toggleActive(this)" value="1">
        <span class="c-switch-slider" data-checked="On" data-unchecked="Off"></span>
    </label>
</form>
<script>
    function toggleActive(element) {
        var form = $(element).closest('form[name="page-update"]');
        $.post(form.attr('action'), form.serialize(), function (result) {
            if(result['success']) {
                toastr.success(result['message']);
            } else {
                toastr.error(result['message']);
            }
        });
    }
</script>